.courses {
    padding: 30px 0; /* Adjust top and bottom padding as needed */
  }
  
  .course-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .course-card {
    width: 300px; /* Adjust the width as needed */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px; /* Set the default space between each card */
  }
  
  .course-card h3 {
    margin-top: 0;
  }
  
  /* Add more styles as needed */
  