img {
    width: 100%;
    max-width: 210px;
    height: auto;
    flex: 2;
  }
  
  .categories-container{
    flex: 0.8;
  }

  .main-search{
    height: 2.2vh;
    width: 55vw;
    border-radius: 20px; 
    padding: 10px; 
    border: 1px solid #ccc; 
    font-size: 15px;
    flex:8
  }

  .auth-container,.user-options-container{
    /* max-width: 80px; */
    display: flex;
    gap:  10%;
  }
  /* .login-button {
    flex: 1;
    max-width: 40px;
  }
  .signup-button {
    flex: 1;
    max-width: 50px;
  } */
  mat-toolbar{
    display: flex;
    gap:  1%;
  }
  .shopping_cart-icon{
    flex: 0.2;
  }

  
  